[alias]
	whoami = config user.email
        unstage = reset HEAD --

[user]
        name = jdjfisher
        
[pull]
        rebase = true
        
[init]
	defaultBranch = main

[core]
        editor = vim
