[alias]
	whoami = config user.email
        unstage = reset HEAD --
        graph = log --graph --decorate --pretty=oneline --abbrev-commit --color=always

[user]
        # email = 
        # name = 
        
[pull]
        rebase = true
        
[init]
	defaultBranch = main

[core]
        editor = vim
